<launch> 
  <node pkg="rollo"
    type="rollo_preprocessor"
    name="rollo_preprocessor"
    respawn="false"
    launch-prefix=""
    required="true">
  </node>
  <node pkg="rollo"
    type="rollo_control"
    name="rollo_control"
    respawn="false"
    launch-prefix=""
    required="false">
  </node>
  <node pkg="rollo"
    type="rollo_ekf"
    name="rollo_ekf"
    respawn="false"
    launch-prefix=""
    required="false">
  </node>
  <node pkg="rollo"
    type="rollo_comm"
    name="rollo_comm"
    respawn="false"
    launch-prefix=""
    required="true">
  </node>
<!--
  <node pkg="rollo"
    type="rollo_visualization"
    name="rollo_visualization"
    respawn="false"
    launch-prefix=""
    required="true">
  </node>
  <node pkg="rollo"
    type="rollo_odometry"
    name="rollo_odometry"
    respawn="false"
    launch-prefix=""
    required="true">
  </node>
/-->
</launch>
